{% extends 'base.html' %} {% load static %} {% block meta %}

<title> My AJAX </title>
<link rel="stylesheet" href="{% static 'css/books.css' %}" />

<script src="{% static 'js/books.js' %}"></script>
<!-- Title End-->

{% endblock meta %} {% block content %}
<section class="books-section" id="baseukuran">
    <h1 style="text-align: center;"> Find Book With AJAX </h1>
    <div class="container">
        <input type="text" name="cari" id="cari" placeholder="Cari " class="form-control form-control-lg">
        <br><br>
        <table class="table" id="hasil">

        </table>
    </div>

</section>
{% endblock content %}