{% extends 'base.html' %} {% load static %} {% block meta %}

<title> Mata Kuliah </title>
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
<!-- head closed-->
{% endblock meta %} {% block content %}

<section id="baseukuran" class="daftar-section">
    <div class="container">
        <table class="table" border="1px">
            <thead>
                <tr>
                    <th scope="col">Mata Kuliah</th>
                    <th scope="col">Nama Dosen</th>
                    <th scope="col">Jumlah SKS</th>
                    <th scope="col">Semester Tahun</th>
                    <th scope="col">Hapus Mata Kuliah</th>
                </tr>
            </thead>
            <tbody>
                {% if Daftar %} {% for course in Daftar %}
                <tr>
                    <td>{{course.mataKuliah}}</td>
                    <td>{{course.namaDosen}}</td>
                    <td>{{course.jumlahSKS}}</td>
                    <td>{{course.semesterTahun}}</td>
                    <td>
                        <a href="{% url 'ppw_app:delete_url' course.id %}" class="btn btn-primary">
                            Hapus
                        </a>
                    </td>
                </tr>
                {% endfor %}{% endif %}
            </tbody>
        </table>
        <a href="/form/tambah" type="submit" class="btn btn-primary">Tambah</a>
    </div>
</section>
{% endblock content %}