{% extends 'base.html' %} {% load static %} {% block meta %}

<title>Form Mata Kuliah</title>
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
<!-- Title End-->

{% endblock meta %} {% block content %}
<section class="form-section" id="baseukuran">
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            <h1 class="nama"> Mata Kuliah: {{ upload_form.mataKuliah }} </h1> <br>
            <h1 class="npm"> Nama Dosen: {{ upload_form.namaDosen }} </h1> <br>
            <h1 class="hobi"> Jumlah SKS: {{ upload_form.jumlahSKS }} </h1> <br>
            <h1 class="deskripsi"> Deskripsi Mata Kuliah: {{ upload_form.deskripsi }} </h1> <br>
            <h1 class="universitas"> Semester Tahun: {{ upload_form.semesterTahun }} </h1> <br>
            <h1 class="pendidikan"> Kode Ruang Kelas: {{ upload_form.ruangKelas }} </h1> <br>
            <button type="submit" class="btn btn-primary"><h4>Submit</h4></button>
        </form>
    </div>
</section>
{% endblock content %}