{% extends 'base.html' %} {% load static %} {% block meta %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
<title>Halaman Profil Saya</title>

{% endblock meta %} {% block content %}
<section class="home-section">
    <div class="container">
        <h1 class="nama">Halo, nama saya Julian Fernando</h1>
        <h1 class="npm">NPM 1906285522</h1>
        <h1 class="angkatan">Angkatan 2019</h1>
        <h1 class="hobi">Saya hobi berenang, bersepeda, dan bermain gitar</h1>
        <h1 class="deskripsi">Mengenai saya, saya adalah seseorang yang cukup humoris dan mudah diajak bercanda</h1>
        <h1 class="universitas">Saat ini, saya berkuliah di Universitas Indonesia</h1>
        <h1 class="pendidikan">Riwayat pendidikan saya antara lain:</h1>
        <table class="table pendidikan tabel" style="width:75%">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Jenjang</th>
                    <th scope="col"> Nama Sekolah </th>
                    <th scope="col"> Tahun </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Taman Kanak</td>
                    <td>TK Xaverius 1 Kota Jambi</td>
                    <td>2005 - 2007</td>
                </tr>
                <tr>
                    <td>Sekolah Dasar</td>
                    <td>SD Xaverius 1 Kota Jambi</td>
                    <td>2007 - 2013</td>
                </tr>
                <tr>
                    <td>Sekolah Menengah Pertama</td>
                    <td>SMP Xaverius 1 Kota Jambi</td>
                    <td>2013 - 2016</td>
                </tr>
                <tr>
                    <td>Sekolah Menengah Atas</td>
                    <td>SMA Negeri 3 Kota Jambi</td>
                    <td>2016 - 2019</td>
                </tr>
                <tr>
                    <td>Program Sarjana</td>
                    <td>Universitas Indonesia</td>
                    <td>2019 - sekarang</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
{% endblock content %}