{% extends 'base.html' %} {% load static %} {% block meta %}

<!-- head -->
<title>My Profile</title>
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
<!-- head -->

<!-- content-->
{% endblock meta %} {% block content %}
<section class="profile-section" id="baseukuran">
    <div class="container">
        <div class="col-lg-12 col-xs-12">
            <div class="title">
                <h1 class="tengah">Welcome to My Profile</h1>
            </div>
        </div>
    </div>
    <div class="container bagian-profile-2">
        <div class="row">
            <div class="col">
                <div class="Informasi1">
                    <h1 class="informasi1-judul">About Me</h1>
                    <p class="def-about"> Saya merupakan seorang yang humoris dan mudah bergaul dengan siapapun.</p>
                    <img class="img-fluid" id="foto" src="{% static 'images/Netco.jpeg' %}" alt="Foto Keren" width="200" height="300">
                </div>
            </div>
            <div class="col">
                <div class="tengah">
                    <h1>Biodata</h1>
                    <div class="tulisan">
                        <h3 class="nama">Nama: Julian Fernando</h3>
                        <h3 class="npm">NPM: 1906285522</h3>
                        <h3 class="angkatan">Angkatan: 2019</h3>
                        <h3 class="universitas">PTN: Universitas Indonesia</h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="Informasi2">
                    <h1 class="informasi2-judul">My Hobby</h1>
                    <p class="def-about">Hobi yang saya tekuni ialah Competitive Programming yang berupa kompetisi problem solving dengan memanfaatkan pemrograman.</p>
                    <img class="img-fluid" id="foto" src="{% static 'images/Arkavidia6.0.jpeg' %}" alt="Ngoding Kece" width="200" height="300">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}