.nama {
	color: red;
}

.npm {
	color: orange;
}

.angkatan {
	color: gold;
}

.hobi {
	color: green;
}

.deskripsi {
	color: blue;
}

.universitas {
	color: purple;
}

.pendidikan {
	color: brown;
}

.medsos {
	color: magenta;
}