body {
	background: #FAD9C1;
}

.title {
    width: 408px;
    height: 144px;
    background-color: #FEC8C1;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    padding-top: 3%;
}

.tengah {
	text-align: center;
}

.Informasi1 {
    margin-right: 10%;
    text-align: center;
    width: 290px;
    height: 481px;
    background-color: #FE9C8F;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.informasi1-judul {
    font-size: 48px;
}

.tulisan {
	margin-right: 10%;
	width: 325px;
	height: 350px;
	left: 391px;
	top: 340px;
	background: #FEB2A8;
	padding-top: 5%;
}

.Informasi2 {
    margin-left: 10%;
    text-align: center;
    width: 290px;
    height: 481px;
    background-color: #FE9C8F;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.informasi2-judul {
    font-size: 48px;
}

#foto {
	margin-left: auto;
	margin-right: auto;
}

.nama {
	color: red;
}

.npm {
	color: orange;
}

.angkatan {
	color: #FFF700;
}

.hobi {
	color: green;
}

.deskripsi {
	color: blue;
}

.universitas {
	color: purple;
}

.pendidikan {
	color: brown;
}

.medsos {
	color: magenta;
}