{% extends 'base.html' %} {% load static %} {% block meta %}

<title>More Info About Me</title>
<link rel="stylesheet" href="{% static 'css/tujuh.css' %}" />
<link rel="stylesheet" href="/resources/demos/style.css">

<script src="{% static 'JS/tujuh.js' %}"></script>
<!-- Title End-->

{% endblock meta %} {% block content %}
<section class="story-section" id="baseukuran">
    <h1 style="text-align: center;">Lebih Lanjut tentang Julian</h1>
    <div class="container">
        <div id="accordion">
            <div class="group">
                <h3> Cita-cita </h3>
                <div>
                    <p>
                        Saya memiliki cita-cita untuk menjadi seorang Software Engineer.
                    </p>
                    <button type="button" class="btn btn-primary up"> UP </button>
                    <button type="button" class="btn btn-primary down"> DOWN </button>
                </div>
            </div>
            <div class="group">
                <h3> Organisasi </h3>
                <div>
                    <ul>
                        <li>Ristek CSUI - Senior Member</li>
                        <li>KMK CSUI - Staf Divisi Acara</li>
                    </ul>
                    <button type="button" class="btn btn-primary up"> UP </button>
                    <button type="button" class="btn btn-primary down"> DOWN </button>
                </div>
            </div>
            <div class="group">
                <h3> Kepanitiaan </h3>
                <div>
                    <ul>
                        <li>Compfest 12 - SC CPC</li>
                        <li>Pekan Ristek 2020 - PJ IPSC 2020</li>
                    </ul>
                    <button type="button" class="btn btn-primary up"> UP </button>
                    <button type="button" class="btn btn-primary down"> DOWN </button>
                </div>
            </div>
            <div class="group">
                <h3> Prestasi </h3>
                <div>
                    <ul>
                        <li>OSN Komputer 2018 - Medali Perunggu</li>
                        <li>ICPC Regional Asia Jakarta - Medali Emas</li>
                        <li>Find It! 2020 - Juara I</li>
                        <li>Gemastik 13 - Honorable Mention (Juara IV)</li>
                        <li>Techphoria 2020 - Juara II</li>
                        <li>Hology 3.0 - Juara I</li>
                    </ul>
                    <button type="button" class="btn btn-primary up"> UP </button>
                    <button type="button" class="btn btn-primary down"> DOWN </button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}